
body,html{
  color: #333;	
  height:100%;
}

#map { height: 97%; width: 100%; float: left;  }

#time_buttons { padding-top: 7px; }
#threshold_control { padding-top: 10px; padding-bottom: 10px; }

.control {
    padding: 6px 15px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.control h4 {
    margin: 0 0 5px;
}
